@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Negaroa", sans-serif; */
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* @font-face {
  font-family: "Negaroa";
  src: url("/assets/fonts/Negaroa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes conveyor-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-conveyor {
  animation: conveyor-scroll 20s linear infinite;
}

.animate-conveyor:hover {
  animation-play-state: paused;
}
